@use 'sass:color'
@import 'normalizeFile';
/*===COLORS===*/
/*===END COLORS===*/
/*===FONTS===*/
/*===END FONTS*/
/*=====MIXINS=====*/
/*=====END MIXINS=====*/
html {
  font-size: 13px; }

body {
  background-color: white;
  width: 100%;
  margin: 0; }

/*========HEADER=========*/
section.header-flex-container {
  display: flex;
  flex-direction: column;
  background-image: url(../images/header-background.png);
  background-size: cover;
  padding-bottom: 200px;
  align-items: center; }
  section.header-flex-container div.nav-flex-container {
    width: 100%;
    justify-content: space-between;
    max-width: 1250px;
    display: flex;
    flex-direction: row; }
    section.header-flex-container div.nav-flex-container div.logo-container {
      margin: 50px 0 50px 5%;
      width: 30%;
      height: 30%;
      text-align: center; }
      section.header-flex-container div.nav-flex-container div.logo-container img {
        max-width: 130px; }
    section.header-flex-container div.nav-flex-container nav {
      width: 70%;
      max-width: 850px;
      margin: 80px 0;
      font-family: "Lato", sans-serif; }
      section.header-flex-container div.nav-flex-container nav ul {
        display: block;
        color: #fffefe;
        list-style: none;
        width: 100%;
        height: auto;
        overflow: visible;
        padding-left: 0; }
        section.header-flex-container div.nav-flex-container nav ul li {
          display: inline-block;
          font-size: calc(0.5em + 0.7vw);
          text-transform: uppercase;
          margin: 1%;
          transition: 0.2s; }
          section.header-flex-container div.nav-flex-container nav ul li a {
            text-decoration: none;
            color: #fffefe; }
            section.header-flex-container div.nav-flex-container nav ul li a:hover {
              cursor: pointer;
              color: coral; }

div.heading-container {
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 0px;
  width: 70%;
  height: auto;
  text-align: center; }
  div.heading-container h1 {
    color: #fffefe;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: calc(1em + 3vw);
    margin: 10px auto; }
  div.heading-container h2 {
    color: black;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    text-align: left;
    margin: 0px auto 30px;
    width: 55%;
    height: auto;
    letter-spacing: 2px;
    font-size: calc(1em + 1vw); }
  div.heading-container div.subtext-container {
    margin: 0 auto;
    text-align: center; }
    div.heading-container div.subtext-container p.header-subtext {
      color: #fffefe;
      font-size: calc(0.5em + 0.7vw); }
    div.heading-container div.subtext-container p.subtext {
      font-family: "Open Sans", sans-serif;
      color: #6f6f6f;
      font-weight: lighter;
      width: 55%;
      height: auto;
      text-align: left;
      margin: 0 auto;
      line-height: 25px;
      font-size: calc(0.5em + 0.7vw); }
    div.heading-container div.subtext-container span.name {
      border-top: 2px solid rgba(111, 111, 111, 0.6);
      padding-top: 8px; }
    div.heading-container div.subtext-container span {
      font-family: "Montserrat", sans-serif;
      font-size: calc(0.5em + 0.5vw);
      font-weight: bold;
      text-transform: uppercase; }
  div.heading-container div.button-container {
    margin: 9% auto 0 0;
    text-align: center; }
    div.heading-container div.button-container a {
      color: #fffefe;
      font-size: calc(0.5em + 0.7vw);
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      border: 2px solid rgba(255, 254, 254, 0.2);
      padding: 7px 25px;
      transition: 0.2s; }
      div.heading-container div.button-container a:hover {
        cursor: pointer;
        color: coral;
        letter-spacing: 1px;
        border-color: #fffefe; }

div.services-benefints-container_list {
  margin: 0 auto;
  width: 100%;
  height: auto; }
  div.services-benefints-container_list ul.services-benefits_list {
    display: flex;
    list-style: none;
    padding-left: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around; }
    div.services-benefints-container_list ul.services-benefits_list li {
      display: flex;
      font-size: calc(0.5em + 0.7vw);
      text-transform: uppercase;
      padding: 2%;
      padding-bottom: 0;
      color: black;
      width: 30%;
      height: 10%;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-weight: bold; }
      div.services-benefints-container_list ul.services-benefits_list li span {
        padding-left: 10%; }
    div.services-benefints-container_list ul.services-benefits_list img {
      width: 55%;
      height: 55%;
      max-width: 60px;
      min-width: 32px;
      max-height: 60px;
      min-height: 32px; }

/*========SERVICES=========*/
section.services {
  background-image: url(../images/services-background.png);
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 40px; }

div.subheading {
  margin: 5% auto;
  text-align: center;
  width: 100%;
  height: 20%; }
  div.subheading span {
    color: #fffefe;
    border-bottom: 3px solid rgba(0, 0, 0, 0.6);
    padding: 0 35px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: calc(0.8em + 1vw);
    text-transform: uppercase; }
  div.subheading p {
    text-transform: capitalize;
    font-size: calc(0.9em + 0.7vw);
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #fffefe;
    margin: 30px auto; }
  div.subheading .black-sub {
    color: black; }
  div.subheading .gray-sub {
    color: #6f6f6f; }

div.services-options_list {
  width: 100%; }
  div.services-options_list ul {
    display: flex;
    color: #fffefe;
    list-style: none;
    width: 70%;
    height: auto;
    margin: 0 auto;
    align-items: center; }
    div.services-options_list ul li {
      display: inline-block;
      font-size: calc(0.5em + 0.5vw);
      text-transform: uppercase;
      margin: 5px;
      padding: 2% 1%;
      font-family: "Montserrat", sans-serif;
      border: 1px solid rgba(255, 254, 254, 0.7);
      width: 20%;
      height: auto;
      text-align: center;
      font-weight: bold;
      transition: 0.1s;
      min-height: 15px;
      min-width: 70px;
      max-height: 30px; }
      div.services-options_list ul li:hover {
        cursor: pointer;
        transform: translateY(-10px);
        border: 1px solid coral; }

/*========WORKS=========*/
section.photo-block {
  width: 100%;
  height: 100%; }
  section.photo-block #block-1 {
    display: flex; }
  section.photo-block div.container_photo {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%; }
    section.photo-block div.container_photo div.wrapper_img {
      width: 25%;
      height: auto;
      text-align: center;
      position: relative; }
      section.photo-block div.container_photo div.wrapper_img img {
        width: 100%;
        height: 100%;
        min-height: 100%;
        min-width: 100%; }
      section.photo-block div.container_photo div.wrapper_img span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(0.5em + 0.5vw);
        font-family: "Montserrat", sans-serif;
        position: absolute;
        width: 100%;
        height: 100%;
        color: #fffefe;
        font-weight: bold;
        text-align: center;
        z-index: 999;
        text-transform: uppercase;
        opacity: 0;
        transition: 0.2s; }
        section.photo-block div.container_photo div.wrapper_img span:hover {
          opacity: 1;
          z-index: 999;
          background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.807143) 38%, rgba(250, 254, 255, 0) 95%); }

/*========SUPPORT=========*/
div.support-flex-container {
  display: flex;
  flex-direction: row; }
  div.support-flex-container div.support-container_img {
    width: 30%;
    height: auto;
    flex-shrink: 2; }
    div.support-flex-container div.support-container_img img {
      width: 100%;
      height: 100%;
      max-height: 390px;
      max-width: 400px;
      min-width: 231px; }

section.support div.wrapper_table {
  width: 100%;
  height: auto;
  margin-top: 80px; }
  section.support div.wrapper_table table tr {
    width: 30%;
    height: auto;
    margin: 0 auto; }
    section.support div.wrapper_table table tr td {
      font-family: "Montserrat", sans-serif;
      margin: 0 auto;
      padding: 2% 5%; }
      section.support div.wrapper_table table tr td hr {
        color: #6f6f6f;
        opacity: 0.5;
        height: 2px; }
      section.support div.wrapper_table table tr td span {
        font-size: calc(0.5em + 0.8vw);
        text-transform: uppercase;
        font-weight: bold; }
      section.support div.wrapper_table table tr td p {
        float: right;
        padding-left: 5px; }
      section.support div.wrapper_table table tr td img {
        width: 12%;
        height: 30%;
        float: left;
        padding: 0 5px 3px 0;
        max-width: 40px;
        max-height: 35px; }

/*========FACTS=========*/
section.facts {
  width: 100%;
  height: 22vh;
  margin-top: 70px;
  background-image: url(../images/bg-image-facts.png); }
  section.facts div.facts-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vh; }
    section.facts div.facts-flex-container div.facts-flex-container_fact {
      width: 20%;
      height: auto;
      color: #fffefe;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateZ(-1px); }
      section.facts div.facts-flex-container div.facts-flex-container_fact span.facts_fact_number {
        font-size: calc(1em + 1.7vh);
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        letter-spacing: 2px; }
      section.facts div.facts-flex-container div.facts-flex-container_fact p {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: calc(0.4em + 0.7vh);
        padding-top: 0.5vh; }
      section.facts div.facts-flex-container div.facts-flex-container_fact span.facts_fact_line {
        border-bottom: 2px solid #fffefe;
        width: 20%;
        padding-top: 0.5vh; }

/*========TEAM=========*/
section.team {
  width: 100%;
  height: auto;
  margin-bottom: 100px; }
  section.team div.people-flex-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    section.team div.people-flex-container div.image_wrapper {
      position: relative;
      text-align: center; }
      section.team div.people-flex-container div.image_wrapper span.name {
        position: absolute;
        width: 70%;
        border-top: 1px solid #fffefe;
        color: #fffefe;
        top: 75%;
        text-align: left;
        padding: 2% 0 1% 2%;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: calc(0.4em + 0.6vw);
        transition: 0.2s; }
        section.team div.people-flex-container div.image_wrapper span.name:hover {
          color: coral;
          font-weight: bold; }
      section.team div.people-flex-container div.image_wrapper span.position {
        position: absolute;
        color: #fffefe;
        top: 85%;
        padding: 1% 0 1% 2%;
        text-transform: uppercase;
        font-style: italic;
        font-family: "Open Sans", sans-serif;
        font-weight: lighter;
        font-size: calc(0.4em + 0.5vw);
        transition: 0.2s; }
        section.team div.people-flex-container div.image_wrapper span.position:hover {
          color: coral; }
      section.team div.people-flex-container div.image_wrapper img {
        width: 70%;
        height: 100%; }
  section.team div.description-flex-container {
    display: flex;
    justify-content: space-around; }
    section.team div.description-flex-container div.heading-container {
      margin: 0;
      width: 50%;
      text-align: left; }
      section.team div.description-flex-container div.heading-container h2 {
        margin: 30px 0 30px 0;
        width: 100%; }
      section.team div.description-flex-container div.heading-container div.subtext-container {
        margin: 0;
        width: 100%; }
        section.team div.description-flex-container div.heading-container div.subtext-container p {
          margin: 0;
          width: 100%; }
    section.team div.description-flex-container div.team-container_button {
      margin-top: 170px; }
      section.team div.description-flex-container div.team-container_button a {
        font-size: calc(0.5em + 0.8vw);
        padding: 15px 60px;
        border: 2px solid rgba(0, 0, 0, 0.7);
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        transition: 0.2s; }
        section.team div.description-flex-container div.team-container_button a:hover {
          letter-spacing: 2px;
          padding: 20px 70px;
          border-color: coral;
          font-size: calc(0.8em + 0.9vw);
          cursor: pointer; }

/*========BLOG=========*/
section.articles {
  width: 100%;
  height: auto; }
  section.articles div.articles-flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap; }
    section.articles div.articles-flex-container div.wrapper_img_article {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center; }
      section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img {
        width: 50%;
        height: 100%;
        text-align: center;
        position: relative; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img img.article-img {
          width: 100%;
          height: 100%;
          max-height: 238px;
          min-height: 100%;
          min-width: 100%; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img img.arrow-reverse {
          width: 10%;
          height: 20%;
          position: absolute;
          transform: rotate(180deg);
          top: 40%;
          right: -1%; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img img.arrow {
          width: 10%;
          height: 20%;
          position: absolute;
          top: 40%;
          left: 0%; }
      section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article {
        width: 50%;
        height: 100%;
        background-color: #eaeaea; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article span {
          font-family: "Crimson Text", serif;
          font-style: italic;
          font-size: calc(0.4em + 0.4vw);
          display: inline-block;
          padding-top: 10px;
          padding-left: 10px;
          text-transform: capitalize; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article h3 {
          font-family: "Montserrat", sans-serif;
          font-size: calc(0.8em + 0.7vw);
          margin: 10px 0;
          text-transform: capitalize;
          padding-left: 10px; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article p {
          font-family: "Montserrat", sans-serif;
          font-size: calc(0.5em + 0.5vw);
          margin: 0 0 5% 0;
          line-height: 25px;
          padding-left: 10px; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article a {
          font-family: "Montserrat", sans-serif;
          font-size: calc(0.4em + 0.4vw);
          text-transform: uppercase;
          transition: 0.2s;
          padding-left: 10px; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article a:hover {
            letter-spacing: 1px;
            border-bottom: 2px solid coral;
            cursor: pointer; }

/*========PRICING=========*/
section.plans {
  width: 100%;
  height: auto;
  background-color: #fffff9; }
  section.plans div.subheading {
    margin-top: 0;
    padding-top: 60px; }
  section.plans div.free-trial-offer {
    margin: 0 auto;
    text-align: center; }
    section.plans div.free-trial-offer h2 {
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-size: calc(0.9em + 0.9vw); }
      section.plans div.free-trial-offer h2 span {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: lighter;
        text-transform: capitalize;
        font-size: calc(0.4em + 0.5vw);
        padding-right: 5px; }
  section.plans div.plans-flex-container {
    display: flex;
    width: 80%;
    height: auto;
    margin: 60px auto;
    justify-content: space-between; }
    section.plans div.plans-flex-container div.plans_plan {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      height: auto;
      border: 1px solid rgba(111, 111, 111, 0.2);
      position: relative;
      background-color: inherit;
      transition: 0.2s; }
      section.plans div.plans-flex-container div.plans_plan:hover {
        background-color: white;
        transform: translateY(-20px);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
      section.plans div.plans-flex-container div.plans_plan h3 {
        text-transform: uppercase;
        border-bottom: 1px solid rgba(111, 111, 111, 0.2);
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: calc(0.7em + 0.5vw); }
      section.plans div.plans-flex-container div.plans_plan p {
        color: #6f6f6f;
        font-family: "Montserrat", sans-serif;
        font-size: calc(0.6em + 0.5vw); }
      section.plans div.plans-flex-container div.plans_plan span.price {
        display: inline-block;
        margin: 20px auto 40px;
        font-size: calc(1.5em + 1vw);
        font-weight: bold;
        font-family: "Montserrat", sans-serif; }
      section.plans div.plans-flex-container div.plans_plan span.monthly {
        font-size: calc(0.5em + 0.2vw);
        font-weight: lighter;
        font-style: italic;
        font-family: "Open Sans", sans-serif; }
      section.plans div.plans-flex-container div.plans_plan a {
        position: absolute;
        bottom: -5%;
        padding: 4% 10%;
        border: 1px solid coral;
        font-size: calc(0.4em + 0.8vw);
        text-transform: uppercase;
        opacity: 0;
        font-weight: bold;
        transition: 0.2s;
        font-family: "Open Sans", sans-serif; }
        section.plans div.plans-flex-container div.plans_plan a:hover {
          opacity: 1;
          z-index: 999;
          background-color: white;
          cursor: pointer; }

/*========FOOTER=========*/
footer {
  width: 100%;
  height: auto;
  background-color: #292f33;
  overflow-x: hidden; }
  footer div.footer-flex-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 35px;
    justify-content: space-between; }
    footer div.footer-flex-container div.wrapper {
      margin: 0 auto;
      width: 250px; }
    footer div.footer-flex-container div.footer_text {
      width: 23%;
      margin-right: 15px; }
      footer div.footer-flex-container div.footer_text h3 {
        text-transform: uppercase;
        color: #fffefe;
        font-size: calc(0.7em + 0.8vw);
        font-family: "Lato", sans-serif; }
      footer div.footer-flex-container div.footer_text p {
        font-family: "Montserrat", sans-serif;
        color: #6f6f6f;
        font-size: calc(0.6em + 0.6vw); }
    footer div.footer-flex-container div.footer_links {
      width: 23%;
      border-left: 1px solid rgba(111, 111, 111, 0.5); }
      footer div.footer-flex-container div.footer_links ul {
        list-style: none; }
        footer div.footer-flex-container div.footer_links ul li.footer-links_heading-link {
          color: #fffefe;
          font-weight: bold;
          padding: 0 0 5px;
          text-transform: uppercase;
          font-size: calc(0.4em + 0.8vw);
          font-family: "Montserrat", sans-serif;
          border-bottom: 2px solid coral;
          width: 45%; }
        footer div.footer-flex-container div.footer_links ul li.links {
          color: #6f6f6f;
          text-transform: uppercase;
          padding: 5px 0;
          margin: 15px 0;
          font-family: "Montserrat", sans-serif;
          font-size: calc(0.4em + 0.8vw);
          width: 30%; }
          footer div.footer-flex-container div.footer_links ul li.links:hover {
            color: #fffefe;
            cursor: pointer;
            border-bottom: 1px solid coral; }
    footer div.footer-flex-container div.footer_twitter {
      width: 23%;
      border-left: 1px solid rgba(111, 111, 111, 0.5);
      border-right: 1px solid rgba(111, 111, 111, 0.5);
      padding: 0 10px;
      min-width: 255px;
      margin: 0 auto; }
    footer div.footer-flex-container div.footer_instagram {
      width: 23%;
      margin: 0 auto;
      min-width: 200px; }
  footer div.footer-floor {
    margin: 30px 20px; }
    footer div.footer-floor p {
      color: #6f6f6f;
      font-size: calc(0.5em + 0.5vw);
      font-family: "Montserrat", sans-serif; }

/*=======MEDIA=======*/
@media screen and (max-width: 1200px) {
  section.header-flex-container {
    padding-bottom: 100px; }
    section.header-flex-container div.nav-flex-container {
      width: 100%;
      justify-content: space-between;
      max-width: 1250px;
      display: flex;
      flex-direction: row; }
      section.header-flex-container div.nav-flex-container div.logo-container {
        margin: 20px 0;
        width: 30%;
        height: 30%;
        text-align: center; }
        section.header-flex-container div.nav-flex-container div.logo-container img {
          max-width: 50px; }
      section.header-flex-container div.nav-flex-container nav {
        margin: 20px 0; }
        section.header-flex-container div.nav-flex-container nav ul li {
          font-size: calc(0.6em + 0.7vw); }
  div.heading-container {
    width: 600px;
    height: auto; }
    div.heading-container h1 {
      font-size: calc(1em + 2vw); }
    div.heading-container h2 {
      width: 500px;
      height: auto;
      text-align: center;
      font-size: calc(1em + 1vw); }
    div.heading-container div.subtext-container {
      text-align: center;
      width: 600px; }
      div.heading-container div.subtext-container p.header-subtext {
        font-size: calc(0.5em + 0.7vw);
        font-family: "Open Sans", sans-serif; }
      div.heading-container div.subtext-container p.subtext {
        width: 500px;
        font-size: calc(0.7em + 0.7vw); }
      div.heading-container div.subtext-container span.name {
        border-top: 2px solid rgba(111, 111, 111, 0.6);
        padding-top: 8px; }
      div.heading-container div.subtext-container span {
        font-family: "Montserrat", sans-serif;
        font-size: calc(0.5em + 0.5vw);
        font-weight: bold;
        text-transform: uppercase; }
  div.services-benefints-container_list {
    margin: 0 auto;
    width: 100%;
    height: auto; }
    div.services-benefints-container_list ul.services-benefits_list {
      display: flex;
      list-style: none;
      padding-left: 0;
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-around; }
      div.services-benefints-container_list ul.services-benefits_list li {
        display: flex;
        font-size: calc(0.5em + 0.7vw);
        text-transform: uppercase;
        padding: 2%;
        padding-bottom: 0;
        color: black;
        width: 30%;
        height: 10%;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        font-weight: bold; }
        div.services-benefints-container_list ul.services-benefits_list li span {
          padding-left: 10%; }
      div.services-benefints-container_list ul.services-benefits_list img {
        width: 50px;
        height: 50px; }
  /*========SERVICES=========*/
  section.services {
    background-image: url(../images/services-background.png);
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 40px; }
  div.services-options_list ul {
    width: 600px;
    height: auto; }
  /*========WORKS=========*/
  section.photo-block div.container_photo div.wrapper_img {
    width: 50%;
    height: 318px;
    text-align: center;
    position: relative; }
    section.photo-block div.container_photo div.wrapper_img img {
      width: 100%;
      height: 100%; }
    section.photo-block div.container_photo div.wrapper_img span {
      font-size: calc(0.7em + 0.5vw); }
  /*========SUPPORT=========*/
  div.support-flex-container {
    display: flex;
    flex-direction: row;
    width: 700px; }
    div.support-flex-container div.heading-container {
      width: 400px;
      margin: 0;
      padding-top: 40px; }
      div.support-flex-container div.heading-container h2 {
        width: 350px;
        margin: 0 10px 30px; }
      div.support-flex-container div.heading-container div.subtext-container {
        width: 350px; }
        div.support-flex-container div.heading-container div.subtext-container p.subtext {
          width: 350px;
          font-size: calc(0.8em + 1vw); }
    div.support-flex-container div.support-container_img {
      width: 300px;
      height: auto; }
      div.support-flex-container div.support-container_img img {
        width: 100%;
        height: 100%; }
  section.support div.support-flex-container {
    margin: 0 auto; }
  section.support div.wrapper_table {
    width: 100%;
    height: auto;
    margin-top: 80px; }
    section.support div.wrapper_table table {
      width: 650px;
      margin: 0 auto; }
      section.support div.wrapper_table table tr {
        width: 650px;
        height: auto; }
        section.support div.wrapper_table table tr td {
          padding: 1% 2%;
          width: 216px; }
          section.support div.wrapper_table table tr td hr {
            height: 1px; }
          section.support div.wrapper_table table tr td span {
            font-size: calc(0.7em + 0.8vw); }
          section.support div.wrapper_table table tr td p {
            height: 100px;
            font-size: calc(0.7em + 0.8vw); }
          section.support div.wrapper_table table tr td img {
            width: 25px;
            height: 20px; }
  /*========FACTS=========*/
  section.facts div.facts-flex-container div.facts-flex-container_fact p {
    font-size: calc(0.6em + 0.7vh); }
  /*========TEAM=========*/
  section.team {
    width: 100%;
    height: auto;
    margin-bottom: 100px; }
    section.team div.people-flex-container {
      width: 650px;
      height: auto;
      flex-direction: column; }
      section.team div.people-flex-container div.image_wrapper {
        position: relative;
        text-align: center;
        margin: 10px auto; }
        section.team div.people-flex-container div.image_wrapper span.name {
          font-size: calc(0.8em + 0.8vw); }
        section.team div.people-flex-container div.image_wrapper span.position {
          font-size: calc(0.7em + 0.7vw); }
        section.team div.people-flex-container div.image_wrapper img {
          width: 70%;
          height: 100%; }
    section.team div.description-flex-container {
      flex-direction: column;
      margin: 0 auto; }
      section.team div.description-flex-container div.heading-container {
        margin: 0 auto;
        width: 650px; }
        section.team div.description-flex-container div.heading-container div.subtext-container {
          margin: 0;
          width: 100%; }
          section.team div.description-flex-container div.heading-container div.subtext-container p {
            font-size: calc(1em + 0.9vw); }
      section.team div.description-flex-container div.team-container_button {
        margin: 80px auto 0; }
        section.team div.description-flex-container div.team-container_button a {
          font-size: calc(0.9em + 0.8vw); }
  /*========BLOG=========*/
  section.articles {
    width: 100%;
    height: auto; }
    section.articles div.articles-flex-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      flex-wrap: wrap; }
      section.articles div.articles-flex-container div.wrapper_img_article {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img {
          width: 50%;
          height: 280px;
          text-align: center;
          position: relative; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img img.article-img {
            width: 100%;
            height: 100%;
            max-height: 238px;
            min-height: 100%;
            min-width: 100%; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img img.arrow-reverse {
            width: 10%;
            height: 20%;
            position: absolute;
            transform: rotate(180deg);
            top: 40%;
            right: -1%; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img img.arrow {
            width: 10%;
            height: 20%;
            position: absolute;
            top: 40%;
            left: 0%; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article {
          width: 50%;
          height: 280px;
          background-color: #eaeaea; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article span {
            font-family: "Crimson Text", serif;
            font-style: italic;
            font-size: calc(0.9em + 0.7vw);
            display: inline-block;
            padding-top: 10px;
            padding-left: 10px;
            text-transform: capitalize; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article h3 {
            font-family: "Montserrat", sans-serif;
            font-size: calc(1.3em + 1.2vw);
            margin: 10px 0;
            text-transform: capitalize;
            padding-left: 10px; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article p {
            font-family: "Montserrat", sans-serif;
            font-size: calc(0.8em + 0.8vw);
            margin: 0 0 5% 0;
            line-height: 25px;
            padding-left: 10px; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article a {
            font-family: "Montserrat", sans-serif;
            font-size: calc(0.8em + 0.8vw);
            text-transform: uppercase;
            transition: 0.2s;
            padding-left: 10px; }
            section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article a:hover {
              letter-spacing: 1px;
              border-bottom: 2px solid coral;
              cursor: pointer; }
  /*========PRICING=========*/
  section.plans {
    width: 100%;
    height: auto;
    background-color: #fffff9; }
    section.plans div.subheading {
      margin-top: 0;
      padding-top: 60px; }
    section.plans div.free-trial-offer {
      margin: 0 auto;
      text-align: center; }
      section.plans div.free-trial-offer h2 {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: calc(0.9em + 0.9vw); }
        section.plans div.free-trial-offer h2 span {
          font-family: "Open Sans", sans-serif;
          font-style: italic;
          font-weight: lighter;
          text-transform: capitalize;
          font-size: calc(0.4em + 0.5vw);
          padding-right: 5px; }
    section.plans div.plans-flex-container {
      flex-wrap: wrap; }
      section.plans div.plans-flex-container div.plans_plan {
        width: 220px;
        height: auto;
        margin-top: 40px; }
        section.plans div.plans-flex-container div.plans_plan h3 {
          font-size: calc(0.8em + 0.9vw); }
        section.plans div.plans-flex-container div.plans_plan p {
          font-size: calc(0.7em + 0.7vw); }
        section.plans div.plans-flex-container div.plans_plan a {
          border: 1px solid coral;
          font-size: calc(0.6em + 0.9vw);
          z-index: 999;
          background-color: white;
          opacity: 1; }
  /*========FOOTER=========*/
  footer div.footer-flex-container {
    justify-content: center; }
    footer div.footer-flex-container div.wrapper {
      margin: 0 auto;
      width: 250px; }
    footer div.footer-flex-container div.footer_text {
      width: 500px; }
      footer div.footer-flex-container div.footer_text h3 {
        font-size: calc(1em + 1vw); }
      footer div.footer-flex-container div.footer_text p {
        font-size: calc(0.8em + 0.8vw); }
    footer div.footer-flex-container div.footer_links {
      width: 190px; }
      footer div.footer-flex-container div.footer_links ul {
        width: 150px; }
        footer div.footer-flex-container div.footer_links ul li.footer-links_heading-link {
          font-size: calc(1em + 1vw); }
        footer div.footer-flex-container div.footer_links ul li.links {
          font-size: calc(0.9em + 0.7vw);
          width: 30%; }
    footer div.footer-flex-container div.footer_twitter {
      display: none; }
    footer div.footer-flex-container div.footer_instagram {
      display: none; }
  footer div.footer-floor {
    margin: 30px 20px; }
    footer div.footer-floor p {
      font-size: calc(0.7em + 0.7vw); } }

/*=======MEDIA=======*/
@media screen and (max-width: 700px) {
  /*========HEADER=========*/
  section.header-flex-container {
    display: flex;
    flex-direction: column;
    background-image: url(../images/header-background.png);
    background-size: cover;
    padding-bottom: 100px;
    align-items: center; }
    section.header-flex-container div.nav-flex-container {
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      section.header-flex-container div.nav-flex-container div.logo-container {
        margin: 10px 0 10px 0;
        width: 20%;
        height: 30%; }
        section.header-flex-container div.nav-flex-container div.logo-container img {
          width: 60px;
          height: 40px; }
      section.header-flex-container div.nav-flex-container nav {
        width: 100%;
        margin: 15px 0; }
        section.header-flex-container div.nav-flex-container nav ul {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          justify-content: center; }
          section.header-flex-container div.nav-flex-container nav ul li {
            font-size: calc(0.8em + 0.9vw); }
  div.heading-container {
    padding-top: 20px;
    width: 100%; }
    div.heading-container h1 {
      font-size: calc(1em + 2vw);
      margin: 50px auto; }
    div.heading-container h2 {
      color: black;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-weight: bolder;
      text-align: left;
      margin: 20px auto 30px;
      width: 55%;
      height: auto;
      letter-spacing: 2px;
      font-size: calc(1em + 1vw); }
    div.heading-container div.subtext-container {
      margin: 0 auto;
      text-align: center;
      max-width: 360px; }
      div.heading-container div.subtext-container p.header-subtext {
        margin-top: 70px;
        font-size: calc(0.8em + 0.8vw); }
      div.heading-container div.subtext-container p.subtext {
        font-family: "Open Sans", sans-serif;
        color: #6f6f6f;
        font-weight: lighter;
        width: 55%;
        height: auto;
        text-align: left;
        margin: 0 auto;
        line-height: 25px;
        font-size: calc(0.5em + 0.7vw); }
      div.heading-container div.subtext-container span.name {
        border-top: 2px solid rgba(111, 111, 111, 0.6);
        padding-top: 8px; }
      div.heading-container div.subtext-container span {
        font-family: "Montserrat", sans-serif;
        font-size: calc(0.5em + 0.5vw);
        font-weight: bold;
        text-transform: uppercase; }
    div.heading-container div.button-container {
      margin: 100px auto 0 0;
      text-align: center; }
      div.heading-container div.button-container a {
        font-size: calc(1em + 1vw); }
  div.services-benefints-container_list {
    margin: 0 auto;
    width: 100%;
    height: auto; }
    div.services-benefints-container_list ul.services-benefits_list {
      margin: 0 auto;
      width: 320px;
      height: auto;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      div.services-benefints-container_list ul.services-benefits_list li {
        display: flex;
        justify-content: space-around;
        font-size: calc(0.9em + 0.9vw);
        width: 65%;
        height: 10%;
        padding: 5px;
        margin-top: 30px; }
        div.services-benefints-container_list ul.services-benefits_list li span {
          padding-left: 10px; }
      div.services-benefints-container_list ul.services-benefits_list img {
        width: 45px;
        height: 45px; }
  /*========SERVICES=========*/
  section.services {
    background-image: url(../images/services-background.png);
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 40px; }
    section.services div.heading-container h2 {
      width: 340px;
      text-align: center;
      font-size: calc(1.4em + 1.2vw); }
    section.services div.heading-container div.subtext-container {
      width: 340px; }
      section.services div.heading-container div.subtext-container p {
        width: 300px;
        font-size: calc(1.4em + 0.9vw);
        line-height: 30px; }
    section.services div.heading-container a {
      border-color: rgba(0, 0, 0, 0.5);
      color: #6f6f6f; }
  div.subheading {
    margin: 10% auto;
    text-align: center;
    width: 100%;
    height: 20%; }
    div.subheading span {
      font-size: calc(1em + 1.3vw);
      color: coral; }
    div.subheading p {
      font-size: calc(0.9em + 0.9vw);
      color: coral; }
    div.subheading .black-sub {
      color: black; }
    div.subheading .gray-sub {
      color: #6f6f6f; }
  div.services-options_list {
    width: 100%; }
    div.services-options_list ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 0 auto;
      align-items: center;
      padding: 0; }
      div.services-options_list ul li {
        font-size: calc(0.8em + 0.8vw);
        margin: 10px;
        padding: 15px 30px;
        border: 3px solid rgba(255, 254, 254, 0.7);
        width: auto;
        height: auto;
        color: coral; }
        div.services-options_list ul li:hover {
          border: 3px solid coral; }
  /*========WORKS=========*/
  section.photo-block {
    width: 100%;
    height: 100%; }
    section.photo-block #block-1 {
      display: flex; }
    section.photo-block div.container_photo {
      display: none;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: 100%; }
      section.photo-block div.container_photo div.wrapper_img {
        width: 50%;
        height: auto;
        text-align: center;
        position: relative; }
        section.photo-block div.container_photo div.wrapper_img img {
          width: 100%;
          height: 100%;
          min-height: 100%;
          min-width: 100%; }
        section.photo-block div.container_photo div.wrapper_img span {
          font-size: calc(0.8em + 0.6vw); }
  /*========SUPPORT=========*/
  div.support-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    div.support-flex-container div.support-container_img {
      margin-top: 25px;
      width: 100%;
      height: 200px;
      text-align: center; }
      div.support-flex-container div.support-container_img img {
        width: 200px;
        height: 200px;
        max-height: 390px;
        max-width: 400px;
        min-width: 200px; }
  section.support div.heading-container {
    width: 350px; }
    section.support div.heading-container h2 {
      font-size: calc(1.8em + 1.5vw);
      text-align: center; }
    section.support div.heading-container div.subtext-container p.subtext {
      text-align: center;
      font-size: calc(1.2em + 1.3vw); }
  div.wrapper_table {
    display: none; }
    div.wrapper_table table {
      display: none; }
  /*========FACTS=========*/
  section.facts {
    width: 100%;
    height: auto;
    margin-top: -1px;
    background-image: url(../images/bg-image-facts.png); }
    section.facts div.facts-flex-container {
      margin: 0 auto;
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px 0; }
      section.facts div.facts-flex-container div.facts-flex-container_fact {
        width: 20%;
        height: 85px;
        color: #fffefe;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transform: translateZ(-1px);
        text-align: center; }
        section.facts div.facts-flex-container div.facts-flex-container_fact span.facts_fact_number {
          font-size: calc(1em + 1vh);
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          letter-spacing: 2px; }
        section.facts div.facts-flex-container div.facts-flex-container_fact p {
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: calc(0.4em + 0.7vh);
          padding-top: 0.5vh; }
        section.facts div.facts-flex-container div.facts-flex-container_fact span.facts_fact_line {
          border-bottom: 2px solid #fffefe;
          width: 20%;
          padding-top: 0.5vh; }
  /*========TEAM=========*/
  section.team {
    width: 100%;
    height: auto;
    margin-bottom: 100px; }
    section.team div.people-flex-container {
      width: 320px;
      height: auto;
      flex-direction: column; }
      section.team div.people-flex-container div.image_wrapper {
        position: relative;
        text-align: center;
        margin: 10px auto; }
        section.team div.people-flex-container div.image_wrapper span.name {
          font-size: calc(0.8em + 0.8vw); }
        section.team div.people-flex-container div.image_wrapper span.position {
          font-size: calc(0.7em + 0.7vw); }
        section.team div.people-flex-container div.image_wrapper img {
          width: 70%;
          height: 100%; }
    section.team div.description-flex-container {
      flex-direction: column;
      margin: 0 auto; }
      section.team div.description-flex-container div.heading-container {
        margin: 0 auto;
        width: 320px; }
        section.team div.description-flex-container div.heading-container div.subtext-container {
          margin: 0;
          width: 100%; }
          section.team div.description-flex-container div.heading-container div.subtext-container p {
            font-size: calc(1em + 1.2vw); }
      section.team div.description-flex-container div.team-container_button {
        margin: 80px auto 0; }
        section.team div.description-flex-container div.team-container_button a {
          font-size: calc(0.9em + 1vw); }
  /*========BLOG=========*/
  section.articles {
    width: 100%;
    height: auto; }
    section.articles div.articles-flex-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      flex-wrap: wrap; }
      section.articles div.articles-flex-container div.wrapper_img_article {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img {
          width: 100%;
          height: 220px;
          text-align: center;
          position: relative; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img img.article-img {
            width: 100%;
            height: 100%;
            min-height: 220px;
            min-width: 100%; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img img.arrow-reverse {
            display: none; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_img img.arrow {
            display: none; }
        section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article {
          width: 100%;
          height: 100%;
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          background-color: #eaeaea; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article span {
            font-family: "Crimson Text", serif;
            font-style: italic;
            font-size: calc(0.9em + 0.9vw);
            display: inline-block;
            padding-top: 10px;
            padding-left: 10px;
            text-transform: capitalize; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article h3 {
            font-family: "Montserrat", sans-serif;
            font-size: calc(1.3em + 1.6vw);
            margin: 10px 0;
            text-transform: capitalize;
            padding-left: 10px; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article p {
            font-family: "Montserrat", sans-serif;
            font-size: calc(1em + 1vw);
            margin: 0 0 5% 0;
            line-height: 25px;
            padding-left: 10px; }
          section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article a {
            font-family: "Montserrat", sans-serif;
            font-size: calc(0.8em + 0.8vw);
            text-transform: uppercase;
            transition: 0.2s;
            padding-left: 10px; }
            section.articles div.articles-flex-container div.wrapper_img_article div.articles-wrapper_article a:hover {
              letter-spacing: 1px;
              border-bottom: 2px solid coral;
              cursor: pointer; }
  /*========PRICING=========*/
  section.plans {
    width: 100%;
    height: auto;
    background-color: #fffff9; }
    section.plans div.subheading {
      margin-top: 0;
      padding-top: 60px; }
    section.plans div.free-trial-offer {
      margin: 0 auto;
      text-align: center; }
      section.plans div.free-trial-offer h2 {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: calc(1.2em + 1vw); }
        section.plans div.free-trial-offer h2 span {
          font-family: "Open Sans", sans-serif;
          font-style: italic;
          font-weight: lighter;
          text-transform: capitalize;
          font-size: calc(0.6em + 0.8vw);
          padding-right: 5px; }
    section.plans div.plans-flex-container {
      flex-wrap: wrap;
      flex-direction: column;
      width: 320px;
      margin: 0 auto;
      align-items: center; }
      section.plans div.plans-flex-container div.plans_plan {
        width: 220px;
        height: auto;
        margin-top: 50px; }
        section.plans div.plans-flex-container div.plans_plan h3 {
          font-size: calc(1em + 1vw); }
        section.plans div.plans-flex-container div.plans_plan p {
          font-size: calc(0.9em + 0.9vw); }
        section.plans div.plans-flex-container div.plans_plan a {
          border: 1px solid coral;
          font-size: calc(0.9em + 0.9vw);
          z-index: 999;
          background-color: white;
          opacity: 1; }
  /*========FOOTER=========*/
  footer {
    margin-top: 40px; }
    footer div.footer-flex-container {
      justify-content: center; }
      footer div.footer-flex-container div.wrapper {
        margin: 0 auto;
        width: 250px; }
      footer div.footer-flex-container div.footer_text {
        width: 70%; }
        footer div.footer-flex-container div.footer_text h3 {
          font-size: calc(1em + 1vw); }
        footer div.footer-flex-container div.footer_text p {
          font-size: calc(0.9em + 0.9vw); }
      footer div.footer-flex-container div.footer_links {
        width: 30%; }
        footer div.footer-flex-container div.footer_links ul {
          width: 100%;
          padding-left: 10px; }
          footer div.footer-flex-container div.footer_links ul li.footer-links_heading-link {
            font-size: calc(1em + 1vw); }
          footer div.footer-flex-container div.footer_links ul li.links {
            font-size: calc(0.9em + 0.7vw);
            width: 30%; }
      footer div.footer-flex-container div.footer_twitter {
        display: none; }
      footer div.footer-flex-container div.footer_instagram {
        display: none; }
    footer div.footer-floor {
      margin: 30px 20px; }
      footer div.footer-floor p {
        font-size: calc(0.7em + 0.7vw); } }
