@use 'sass:color'
@import 'normalizeFile';

/*===COLORS===*/
$color-background-main: white;
$color-main: #fffefe;
$color-sub: #6f6f6f;
$color-headings: black;
$color-button-background: transparent;
$color-button-border: 2px solid transparentize($color-main, 0.8);
$color-hover: coral;
$color-background-article: #eaeaea;
/*===END COLORS===*/

/*===FONTS===*/
$font-crimson:'Crimson Text', serif;
$font-lato:'Lato', sans-serif;
$font-monts:'Montserrat', sans-serif;
$font-sans:'Open Sans', sans-serif;
/*===END FONTS*/

/*=====MIXINS=====*/
@mixin size($width, $height) {
    width: $width;
    height: $height;
}
/*=====END MIXINS=====*/
html{
    font-size: 13px;
}

body {
    background-color: $color-background-main;
    width: 100%;
    margin: 0;
}

section.header-flex-container {
    display:flex;
    flex-direction: column;
    background-image: url(../images/header-background.png);
    background-size: cover;
    padding-bottom: 200px;


    div.nav-flex-container {
        @include size(100%, auto);
        display: flex;
        flex-direction:  row;
        flex-wrap: nowrap;
        align-items:center;

        div.logo-container{
            margin: 50px 0 50px 5%;
            @include size(30%, 30%);
            text-align: center;
            
            img {
                @include size(22%, 22%);
            }

        }
        nav {
            @include size(60%, auto);
            margin: 80px 0;
            font-family: $font-lato;
            ul {
                display: block;
                color: $color-main;
                list-style: none;
                @include size(100%, auto);
                overflow:visible;
                padding-left: 0;

                li {
                    display: inline;
                    font-size: calc(0.5em + 0.7vw);
                    text-transform: uppercase;
                    padding:1%;
                    transition: 0.2s;
                    
                    &:hover {
                        cursor:pointer;
                        color: $color-hover;
                    }
                }
            }
        }
    }
}

div.heading-container {
    margin: 0 auto;
    padding-top: 70px;
    padding-left: 0px;
    @include size(70%, auto);
    text-align: center;
    
    h1 {
        color: $color-main;
        text-transform: uppercase;
        font-family: $font-lato;
        font-weight: bolder;
        font-size: calc(1em + 3vw);
        margin: 10px auto;
    }
    
    h2 {
        color: $color-headings;
        text-transform: uppercase;
        font-family: $font-lato;
        font-weight: bolder;
        text-align:left;
        margin: 0px auto 30px;
        @include size(55%, auto);
        letter-spacing: 2px;
        font-size: calc(1em + 1vw);
    }

    div.subtext-container{
        margin: 0 auto;
        text-align: center;

        p.header-subtext {
            color: $color-main;
            font-size: calc(0.5em + 0.7vw);
        }
        
        p.subtext {
            font-family: $font-sans;
            color: $color-sub;
            font-weight: lighter;
            @include size(55%, auto);
            text-align: left;
            margin: 0 auto;
            line-height: 25px;
            font-size: calc(0.5em + 0.7vw);
        }
        
        span.name {
            border-top: 2px solid transparentize($color-sub, 0.4);
            padding-top: 8px;
        }
        
        span {
            font-family: $font-monts;
            font-size: calc(0.5em + 0.5vw);
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    div.button-container {
        margin: 9% auto 0 0;
        text-align: center;
        
        a {
            color: $color-main;
            font-size: calc(0.5em + 0.7vw);
            text-transform: uppercase;
            font-family: $font-monts;
            font-weight: bold;
            border: $color-button-border;
            padding: 7px 25px;
            transition: 0.2s;
            
            &:hover {
                cursor: pointer;
                color: $color-hover;
                letter-spacing: 1px;
                border-color: $color-main;
            }
        }
    }
    
    div.services-benefints-container_list {
        margin: 0 auto;
         @include size(100%, auto);

        ul.services-benefits_list {
            display: flex;
            list-style: none;
            padding-left: 0;
            @include size(100%, auto);
            flex-direction: row;
            justify-content: space-around;


            li {
                display: flex;
                font-size: calc(0.5em + 0.7vw);
                text-transform: uppercase;
                padding:2%;
                padding-bottom: 0;
                color: $color-headings;
                @include size(30%, 10%);
                align-items: center;
                font-family: $font-monts;
                font-weight: bold;
                
                span {
                    padding-left:  10%;
                }
            }
            
            img {
                @include size(55%, 55%);
                max-width: 60px;
                min-width: 32px;
                max-height: 60px;
                min-height: 32px;
            }
        }
    }
}

section.services {
    background-image: url(../images/services-background.png);
    background-size: cover;
    @include size(100%, auto);
    padding-bottom: 40px;
}

div.subheading {
    margin: 5% auto;
    text-align: center;
    @include size(100%, 20%);
    
    span {
        color: $color-main;
        border-bottom: 3px solid transparentize($color-headings, 0.4);
        padding: 0 35px 15px;
        font-family: $font-monts;
        font-weight: bold;
        font-size: calc(0.8em + 1vw);
        text-transform: uppercase;  
    }
    
    p {
        text-transform: capitalize;
        font-size:calc(0.9em + 0.7vw);
        font-family:$font-sans;
        font-weight: lighter;
        color: $color-main;
        margin: 30px auto;
    }
    
    .black-sub {
        color: $color-headings;
    }
    
    .gray-sub {
        color:$color-sub;
    }
}

div.services-options_list {
    width: 100%;
    
    ul {
        display: flex;
        color: $color-main;
        list-style: none;
        @include size(70%, auto);
        margin: 0 auto;
        align-items: center;
        
        
        li {
            display: inline-block;;
            font-size: calc(0.5em + 0.5vw);
            text-transform: uppercase;
            margin: 5px;
            padding: 2% 1%;
            font-family: $font-monts;
            border: 1px solid transparentize($color-main, 0.3);
            @include size(20%, auto);
            text-align: center;
            font-weight: bold;
            transition: 0.1s;
            min-height: 15px;
            min-width: 70px;
            max-height: 30px;
			
			
            
            &:hover {
                cursor: pointer;
                transform: translateY(-10px);
                border: 1px solid $color-hover;
            }
        }
    }
}

section.photo-block {
    @include size(100%, 100%);
	
    
    div.container_photo {
		display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include size(100%, 100%);
 
        
        div.wrapper_img{ 
            @include size(25%, auto);
            text-align: center;
            position: relative;
            
            img {
                @include size(100%, 100%);
                min-height: 100%;
                min-width: 100%;
            }
            
            span {
                display: block;
                font-size: calc(0.5em + 0.5vw);
                font-family: $font-monts;
                position: absolute;
                padding-top: 40%;
                @include size(100%, 49%);
                color: $color-main;
                font-weight: bold;
                text-align: center;
                z-index: 999;
                text-transform: uppercase;
                opacity: 0;
                transition: 0.2s;
                
                &:hover {
                    opacity: 1;
                    z-index: 999;
                    background-color: transparentize(black, 0.4);
                }
            }
        }
    }
}

div.support-flex-container {
    display: flex;
    flex-direction: row;

    
    
    div.support-container_img {
        @include size(30%, auto);
        flex-shrink: 2;
        
        img {
            @include size(100%,100%);
            max-height: 390px;
            max-width: 400px;
            min-width: 231px;
        }
        
    }
}

section.support {
    
    div.wrapper_table{
        @include size(100%, auto);
        margin-top: 80px;
        
        table {
            
            tr {
                @include size(30%, auto);
                margin: 0 auto;
                
                td {
                    font-family: $font-monts;
                    margin: 0 auto;
                    padding: 2% 5%;
                    
                    hr {
                        color: $color-sub;
                        opacity: 0.5;
                        height: 2px;
                    }
                    
                    span {
                        font-size: calc(0.5em + 0.8vw);
                        text-transform: uppercase;
                        font-weight: bold;
                        
                        
                    }
                    
                    p {
                        float: right; 
                        padding-left: 5px;     
                    }
                    
                    img {
                        @include size(12%, 30%);
                        float:left;
                        padding: 0 5px 3px 0;
                        max-width: 40px;
                        max-height: 35px;
                    }
                }
            }
        }
    }
}

section.facts {
    @include size(100%, 22vh);
    margin-top: 70px;
    background-image: url(../images/bg-image-facts.png);
    
    div.facts-flex-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5vh;
        
        
        div.facts-flex-container_fact {
            @include size(20%, auto);
            color:$color-main;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateZ(-1px);
            
            span.facts_fact_number {
                font-size: calc(1em + 1.7vh);
                font-family: $font-monts;
                font-weight: bold;
                letter-spacing: 2px;
            }
            
            p {
                font-family: $font-monts;
                font-weight: bold;
                font-size: calc(0.4em + 0.7vh);
                padding-top: 0.5vh;
            }
            
            span.facts_fact_line {
                border-bottom: 2px solid $color-main;
                width: 20%;
                padding-top: 0.5vh;
            }
        }
    }
}

section.team {
    @include size(100%, auto);
    margin-bottom: 100px;
    
    div.people-flex-container {
        @include size(90%, auto);
        margin: 0 auto;
        display: flex;
        flex-direction:row; 
        justify-content: center;
        
        
        div.image_wrapper {
                position: relative;
                text-align: center;
            
            span.name {
                position: absolute;
                width: 70%;
                border-top: 1px solid $color-main;
                color: $color-main;
                
                top: 75%;
                text-align: left;
                padding: 2% 0 1% 2%;
                text-transform: uppercase;
                font-family: $font-monts;
                font-size: calc(0.4em + 0.6vw);
                transition: 0.2s;
                
                &:hover {
                    color:$color-hover;
                    font-weight: bold;
                }
                
            }
            
            span.position {
                position: absolute;
                color: $color-main;
                top: 85%;
                padding: 1% 0 1% 2%;
                text-transform: uppercase;
                font-style: italic;
                font-family: $font-sans;
                font-weight: lighter;
                font-size: calc(0.4em + 0.5vw);
                transition: 0.2s;
                
                &:hover {
                    color:$color-hover;
                }
            }
            
            img {
                @include size(70%, 100%);
            }
        }
    }
    
    div.description-flex-container {
        display: flex;
        justify-content:space-around;
        
        
        div.heading-container {
            margin: 0;
            width: 50%;
            text-align: left;
            
            h2 {
                margin: 30px 0 30px 0;
                width: 100%;
            }
            
            div.subtext-container {
                margin: 0;
                width: 100%;
                
                p {
                    margin: 0;
                    width: 100%;
                }
            }
        }
        
        div.team-container_button {
            margin-top: 170px;
            
            
            a {
                font-size: calc(0.5em + 0.8vw);
                padding: 15px 60px;
                border: 2px solid transparentize(#000, 0.3);
                text-transform: uppercase;
                font-family: $font-monts;
                transition: 0.2s;
                
                &:hover {
                    letter-spacing: 2px;
                    padding: 20px 70px;
                    border-color: $color-hover;
                    font-size: calc(0.8em + 0.9vw);
                    cursor: pointer;
                }
            }
        }
    }
}

section.articles {
	@include size(100%, auto);
	
	div.articles-flex-container {
		display: flex;
		flex-direction: row;
		@include size(100%, auto);
		flex-wrap: wrap;
		
		div.wrapper_img_article {
			@include size(50%, auto);
			display: flex;
			justify-content: center;
			
			
			div.articles-wrapper_img {
				@include size(50%, 100%);
				text-align: center;
				position: relative;
				
				
				img.article-img {
					@include size(100%, 100%);
					max-height: 238px;
					min-height: 100%;
                	min-width: 100%;
				}
				
				img.arrow-reverse {
					@include size(10%, 20%);
					position: absolute;
					transform: rotate(180deg);
					top: 40%;
					right: -1%;
				}
				
				img.arrow {
					@include size(10%, 20%);
					position: absolute;
					top: 40%;
					left: 0%;
				}
				
				
			}
			
			div.articles-wrapper_article {
				@include size(50%, 100%);
				background-color: $color-background-article;
				
				
				span {
					font-family: $font-crimson;
					font-style: italic;
					font-size: calc(0.4em + 0.4vw);
					display: inline-block;
					padding-top: 10px;
					padding-left: 10px;
					text-transform: capitalize;
				}
				
				h3 {
					font-family: $font-monts;
					font-size: calc(0.8em + 0.7vw);
					margin: 10px 0;
					text-transform: capitalize;
					padding-left: 10px;
				}
				
				p {
					font-family: $font-monts;
					font-size: calc(0.5em + 0.5vw);
					margin: 0 0 5% 0;
					line-height: 25px;
					padding-left: 10px;
					
				}
				
				a {
					font-family: $font-monts;
					font-size: calc(0.4em + 0.4vw);
					text-transform: uppercase;
					transition: 0.2s;
					padding-left: 10px;
					
					
					&:hover {
						letter-spacing: 1px;
						border-bottom: 2px solid $color-hover;
						cursor: pointer;
					}
				}
			}
		}
	}
}

section.plans {
	@include size(100%, auto);
	background-color: #fffff9;
	
	div.subheading {
		margin-top: 0;
		padding-top: 60px;
	}
	
	div.free-trial-offer {
		margin: 0 auto;
		text-align: center;
		
		h2 {
			text-transform: uppercase;
			font-family: $font-monts;
			font-size: calc(0.9em + 0.9vw);
			
			span {
				font-family: $font-sans;
				font-style: italic;
				font-weight: lighter;
				text-transform: capitalize;
				font-size: calc(0.4em + 0.5vw);
				padding-right: 5px;
			}
		}
	}
	
	div.plans-flex-container {
		display: flex;
		@include size(80%, auto);
		margin: 60px auto;
		justify-content: space-between;
		
		div.plans_plan {
			display: flex;
			flex-direction: column;
			align-items: center;
			@include size(20%, auto);
			border: 1px solid transparentize($color-sub, 0.8);
			position: relative;
			background-color: inherit;
			transition: 0.2s;
			
			&:hover {
				background-color: $color-background-main;
				transform: translateY(-20px);
				box-shadow: 0 0 15px rgba(0,0,0,0.1);
			}
			
			h3 {
				text-transform: uppercase;
				border-bottom: 1px solid transparentize($color-sub, 0.8);
				width: 100%;
				text-align: center;
				padding-bottom: 10px;
				font-family: $font-monts;
				font-weight: bold;
				font-size: calc(0.7em + 0.5vw);
			}
			
			p {
				color: $color-sub;
				font-family: $font-monts;
				font-size: calc(0.6em + 0.5vw);
			}
			
			span.price {
				display: inline-block;
				margin: 20px auto 40px;
				font-size: calc(1.5em + 1vw);
				font-weight: bold;
				font-family: $font-monts;
				
			}
			
			span.monthly {
				font-size: calc(0.5em + 0.2vw);
				font-weight: lighter;
				font-style: italic;
				font-family: $font-sans;
				
			}
			
			a {
				position: absolute;
				bottom: -5%;
				padding: 4% 10%;
				border: 1px solid $color-hover;
				font-size: calc(0.4em + 0.8vw);
				text-transform: uppercase;
				opacity: 0;
				font-weight: bold;
				transition: 0.2s;
				font-family: $font-sans;
				
				&:hover {
					opacity: 1;
					z-index: 999;
					background-color: $color-background-main;
					cursor: pointer;
				}
			}
		}
	}
}


footer {
	@include size(100%, auto);
	background-color: rgb(41, 47, 51);
	overflow-x: hidden;
	
	div.footer-flex-container {
		display: flex;
		flex-direction: row;
		@include size(90%, auto);
		margin: 0 auto;
		padding-top: 35px;
		justify-content: space-between;
		
		div.wrapper {
		margin: 0 auto;
		width: 250px;
	}
		
		div.footer_text {
			width: 23%;
			margin-right: 15px;
			
			h3 {
				text-transform: uppercase;
				color: $color-main;
				font-size: calc(0.7em + 0.8vw);
				font-family: $font-lato;
			}
			
			p {
				font-family: $font-monts;
				color: $color-sub;
				font-size: calc(0.6em + 0.6vw);
			}
		}
		
		div.footer_links {
			width: 23%;
			border-left: 1px solid transparentize($color-sub, 0.5);
			
			ul {
				list-style: none;
				
				li.footer-links_heading-link {
					color: $color-main;
					font-weight: bold;
					padding: 0 0 5px;
					text-transform: uppercase;
					font-size: calc(0.4em + 0.8vw);
					font-family: $font-monts;
					border-bottom: 2px solid $color-hover;
					width: 45%;
				}

				
				li.links {
					color: $color-sub;
					text-transform: uppercase;
					padding: 5px 0;
					margin: 15px 0;
					font-family: $font-monts;
					font-size: calc(0.4em + 0.8vw);
					width: 30%;
					
					&:hover {
						color: $color-main;
						cursor: pointer;
						border-bottom: 1px solid $color-hover;
					}
				}
			}
		}
		
		div.footer_twitter {
			width: 23%;
			border-left: 1px solid transparentize($color-sub, 0.5);
			border-right: 1px solid transparentize($color-sub, 0.5);
			padding: 0 10px;
			min-width: 255px;
			margin: 0 auto;
		}
		
		div.footer_instagram {
			width: 23%;
			margin: 0 auto;
			min-width: 200px;
		}
	}
	div.footer-floor {
		margin: 30px 20px;
		
		p {
			color: $color-sub;
			font-size: calc(0.5em + 0.5vw);
			font-family: $font-monts;
			
		}
	}
}












